#initialPage {

    display: grid;
    grid-template-columns: 25vw 15vw 20vw 15vw 25vw;
    background-color: green;

}

.arrowImage {

    display: block;
    height: 20vh;
    margin-top: 50%;

}

#containerInfoFighter {

    display: block;
    margin: 0 auto 0;
    text-align: center;

}

#containerInfoFighter span {

    color: black;

}

#imgFighter {

    display: block;
    height: 50vh;

}

#containerBattle {

    display: grid;
    grid-template-columns: 50vw 50vw;

}